/* WordPress Additional CSS */
/* Product Page Wishlist */
.elementor-kit-11 .product-page-wishlist button {
    background-color: transparent;
		color: black;
		border: none;
}

.elementor-kit-11 .product-page-wishlist button:hover {
    background-color: transparent;
    color: black;
		border: none;
}

/* Add To Wishlist */
.product-page-wishlist .woosw-icon-5:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' d='M11.553 6.974s0 0 0 0h0l-.002-.003-.01-.02a5.342 5.342 0 0 0-.239-.392 6.283 6.283 0 0 0-.785-.954c-.7-.695-1.716-1.355-3.06-1.355-2.18 0-3.934 1.83-3.957 4.043-.049 4.833 3.833 8.342 8.359 11.413h0a.25.25 0 0 0 .282 0h0c4.525-3.071 8.407-6.58 8.359-11.413-.023-2.214-1.776-4.043-3.957-4.043-1.344 0-2.36.66-3.06 1.355a6.283 6.283 0 0 0-.979 1.264l-.045.083-.01.019-.002.003h0a.5.5 0 0 1-.894 0Zm0 0h0s0 0 0 0h0Z'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='M16.543 3.75c-3.043 0-4.543 3-4.543 3s-1.5-3-4.543-3C4.984 3.75 3.025 5.82 3 8.288c-.052 5.125 4.065 8.77 8.578 11.832a.75.75 0 0 0 .844 0c4.512-3.063 8.63-6.707 8.578-11.832-.025-2.469-1.984-4.538-4.457-4.538Z'/%3E%3C/svg%3E");
}

/* Wishlist Loader */
.product-page-wishlist .woosw-icon-15:before {
    content: "\e911";
		font-size: 24px;
}

/* Remove From Wishlist */
.product-page-wishlist .woosw-icon-8:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M16.5431 3.75C13.5 3.75 12 6.75 12 6.75C12 6.75 10.5 3.75 7.45687 3.75C4.98374 3.75 3.0253 5.81906 2.99999 8.28797C2.94843 13.4128 7.06546 17.0573 11.5781 20.1202C11.7025 20.2048 11.8495 20.2501 12 20.2501C12.1505 20.2501 12.2975 20.2048 12.4219 20.1202C16.9341 17.0573 21.0511 13.4128 21 8.28797C20.9747 5.81906 19.0162 3.75 16.5431 3.75Z' fill='%23E16E51' stroke='%23E16E51' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.product-page-wishlist .woosw-btn-icon-text .woosw-btn-text {
  display: none;
}

/* Elementor Custom CSS*/
/* Anchors to top-right corner on Desktop */
selector {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    left: auto !important;
    bottom: auto !important;
    z-index: 99;
}

/* Fixes positioning on Tablets */
@media (max-width: 1024px) {
    selector {
        top: 0px !important;
        right: 0px !important;
    }
}

/* Fixes positioning on Mobile phones */
@media (max-width: 767px) {
    selector {
        top: 0px !important;
        right: 0px !important;
    }
}
